{% extends 'base.html' %}
{% load static %}

{% block content %}
<br>
<br>
	<div class="content-ctn">
		<form action="" method="POST">
			{% csrf_token %}
			<div class="">
				<label>
					<input type="radio" name="picture" required id="id_picture" value="1"> 
					<img src="{% static 'main/user/1.png' %}" width="150">
				</label>

				<label>
					<input type="radio" name="picture" required id="id_picture" value="2">
					<img src="{% static 'main/user/2.png' %}" width="150">
				</label>

				<label>
					<input type="radio" name="picture" required id="id_picture" value="3">
					<img src="{% static 'main/user/3.png' %}" width="150">
				</label>

				
				
				<label>
					<input type="radio" name="picture" required id="id_picture" value="4">
					<img src="{% static 'main/user/4.png' %}" width="150" >
				</label>

				<label>
					<input type="radio" name="picture" required id="id_picture" value="5">
					<img src="{% static 'main/user/5.png' %}" width="150">
				</label>

				<label>
					<input type="radio" name="picture" required id="id_picture" value="6">
					<img src="{% static 'main/user/6.png' %}" width="150">
				</label>
			</div>
			<br>

			<button class="btn btn-primary" type="submit">Таңдау</button>
			<br>
		</form>
		<br>
		<br>
	</div>
	<br>
	<br> 

	
{% endblock %}