{% extends 'base.html' %}
{% block title %}<title>Tuysqans | тіркелу</title>{% endblock %}
{% block content %}
<style type="text/css">
	input {
		margin-bottom: 10px;
	}
</style>
	<br><br> 
	<div class="register-form form">
		<h2>Жылдам тіркелу</h2>
		<form method="POST" action="">
			{% csrf_token %}
			{{ register_form.username.label}}<br>
			{{ register_form.username}}<br>

			{{ register_form.password1.label}}<br>
			<input class="pass" type="text" name="password1" autocomplete="new-password" required id="id_password1"><br> 

			{{ register_form.password2.label}}<br>
			<input class="pass" type="text" name="password2" autocomplete="new-password" required id="id_password2"><br>
			<button type="submit">Тіркелу</button>
			<br><br>

			Егер аккаунтыңыз бар болса <a href="{% url 'auth' %}">кіріңіз</a><br>
			
		</form>
		
	</div>

{% endblock %}

